@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
html,body{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}
html{
  background-color: #21232A;
  overflow-y: scroll;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav{
  width: 100%;
  display: flex;
  font-size: 15px;
  color: white;
  padding: 20px;
  justify-content: space-evenly;
  height: 80px;
}
nav a{
  cursor: pointer;
  margin-top: 30px;
}
nav a:hover{
  color: #15869E;
  font-size: 16px;
}
nav a:focus{
  color: #15869E;
}

.content{
  margin-top: 5px;
  display: flex;
  height: 640px;
  background-color: #55505048;
  width: 95%;
  border-radius: 8px;
  align-items: center;
  flex-direction: column;
  
}
.content p{
  width: 100%;
  text-align: center;
}
.options{
  margin-top: 30px;
  width: 90%;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
}
.options a:hover{
  cursor: pointer;
  color: #15869E;
}

#welcome{
  height: 200px;
  text-align: center;
  animation-duration: 4s;
  animation-name: slidein;
}
.card-grid{
  width: 100%;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  align-self: flex-start;
 justify-self: flex-start;
}
.card-grid div{
  display: flex;
  height: 150px;
  border: 1px solid gray;
  border-radius: 8px;
  width: 12%;
  margin: 27px;
  font-size: 13px;
  text-align: center;
  flex-direction: column;

}
.card-grid div:hover{
  border: 1px solid #15869E;
  cursor: pointer;
  
}
.form{
  margin-top: 50px;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 550px;
  flex-direction: column;
}
.form input{

  width: 40%;
  height: 33px;
  margin-top: 20px;
  border-radius: 4px;
  border-style: none;
}

#submit{
  margin-top: 50px;
  width: 12%;
  border-radius: 6px;
  background-color: #15869E;
  color: white;
  border-style: none;
  text-transform: uppercase;
  font-size: 13px;
  height: 28px;
}
#submit:hover{
  cursor: pointer;
}
#marry{
  margin-top: 20px;
  display: flex;
  height: 10px;
  width: 20%;
  flex-direction: row;
  font-size: 10px;
  justify-content: center;
}
#marry input{
  margin-top: 0px;
  margin-left: 0px;
  height: 13px;
  width: 20px;
}
#marry p{
  margin-left: 10px;
}
#marry p:first-child{
  margin-left: 0px;
  margin-right: 20px;
}
#btn-back:hover{
  cursor: pointer;
}
.content-person{
  margin-top: 170px;
  width: 70%;
  height:600px;
  background-color: #5550503a;
  align-self: center;
  border-radius: 6px;
}
.content-vehicle{
  margin-top: 170px;
  width: 90%;
  height:560px;
  background-color: #5550503a;
  align-self: center;
  border-radius: 6px;
}

.data div{
  display: flex;
  flex-direction: row;
  margin-top: 22px;
  margin-left: 20px;
  font-size: 20px;
  align-items: baseline;
  justify-content: space-between;
  margin-right: 50px;
}
.data div input {
  width: 300px;
  border-radius: 4px;
  height: 38px;
  border-style: none;
  font-size: 20px;
}
.butons {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.butons input{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 60px;
  height: 35px;
  width: 120px;
  border-radius: 6px;
  border-style: none;
}
.butons input:hover{
  cursor: pointer;
}
#btn-editar{
  color: white;
  background-color: #dbb940e7;
}
#btn-borrar{
  color: white;
  background-color: #BD1515;
}
#btn-editar:hover{
  background-color: #ac902de7;
}
#btn-borrar:hover{
  background-color: #961313;
}
#historialtitle{
  text-align: center;
  font-size: 22px;
}
.content-historialvehicle{
  margin-top: 170px;
  width: 90%;
  height:720px;
  background-color: #5550503a;
  align-self: center;
  border-radius: 6px;
  overflow-y: scroll;
}

.historyitem{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
   overflow-y: hidden;
}
.fl{
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.13);
  align-items: flex-start;
  margin-top: 35px;
  height: 160px;
  border-radius: 3px;
}
.fl:hover{
  border-color: white;
}

.titles{

  display: flex;
  justify-content: space-around;
  width: 100%;
}
.titles p {
  margin-top: 0px;
  font-size: 18px;
  color: rgb(13, 243, 13);
}
.historydata{
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.historydata p {
  margin-top: 10px;
  font-size: 14px;
}




@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


@media (max-width:1257px) {
  .form{
    width: 80%;
  }
  .form input{
    width: 60%;
  }
  #submit{
    width: 20%;
  }
  .card-grid div {
    height: 150px;
    width: 140px;
    margin: 20px;
  }
  }
@media (max-width:853px) {
  .form{
    width: 100%;
  }
  .data div {
    font-size: 16px;
  }
  .data div input{
    width: 250px;
font-size: 17px;
  }
  .form input{
    width: 60%;
    height: 40px;
  }
  #submit{
    width: 25%;
    height: 35px;
  }
    .card-grid div {
      height: 100px;
      margin: 15px;
      font-size: 10px;
      text-align: center;
    }
    #marry {
      height: 20px;
      font-size: 12px;
      width: 25%;
    }
    #marry input{
      width: 60%;
      height: 14px;
      margin-left: 12px;
    }
    }

@media (max-width:727px) {
  .form{
    width: 100%;
  }

  .data div input{
    width: 240px;
font-size: 13px;
  }
  .content-person{
    margin-top: 50px;
    height: 600px;
    width: 90%;
  }
  .content-vehicle{
    margin-top: 50px;
    height: 600px;
    width: 90%;
  }
  .data div {
    display: flex;
    margin-top: 22px;
    margin-left: 20px;
    font-size: 16px;
    align-items: baseline;
    justify-content: space-between;
  }
  .form{
    width: 100%;
  }
  .form input{
    width: 70%;
  }
  #submit{
    width: 25%;
  }
  .card-grid div {
    height: 90px;
    margin: 0px;
  }
  #marry {
    height: 20px;
    font-size: 12px;
    width: 40%;
  }
  #marry input{
    width: 60%;
    height: 14px;
    margin-left: 12px;
  }
  

}
@media (max-width:565px) {
  .fl{
    height: 275px;
    flex-direction: row;
  }
  .titles{
    margin: 10px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .titles p {
    font-size: 14px;
  }
  .historydata{
    margin: 10px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .data div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .data div:first-child{
    align-items: flex-start;
  }
  .form input{
    width: 80%;
  }
  .content{
    height: auto;
    width: 90%;
    background-color:transparent;
  }
  .card-grid{
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .card-grid div {
    height: 200px;
    margin: 20px;
    width: 90%;
    font-size: 15px;
  }
  #marry {
    height: 20px;
    font-size: 12px;
    width: 50%;
  }
  nav{
    padding: 0px;
  }
  }

@media (max-width:417px) {

    .card-grid div {
      width: 100%;
    }
    }

